<form id="editPostForm" {{action "createOrUpdate" on="submit"}}>
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label for="title">Post Title</label>
            {{input id="title" type="text" class="form-control" value=post.title placeholder="Post title"}}
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label for="slug">Post Slug</label>
            {{input id="slug" type="text" class="form-control" value=post.slug placeholder="Post slug"}}
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
            <label for="content">Post content</label>
            {{!-- textarea id="content" value=post.content class="form-control" --}}
            {{medium-content-editable value=post.content options=mediumEditorOptions}}
            <p class="help-block text-danger"></p>
        </div>
    </div>

    <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
          {{selector-list selected=selectedTags items=tags nameField='name'}}
        </div>
    </div>

    <br>

    <div id="success"></div>
    <div class="row">
        <div class="form-group col-xs-12">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>
