
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Ember Blog</h1>
                        <hr class="small">
                        <span class="subheading">Simple, full-JavaScript blog engine, based on <a href="http://expressjs.com/" target="_blank">Express</a> and <a href="https://emberjs.com/" target="_blank">Ember</a></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {{#each model as |post|}}
                <div class="post-preview">
                    {{#link-to 'single' post.slug}}
                        <h2 class="post-title">
                            {{post.title}}
                        </h2>
                        <h3 class="post-subtitle">
                            {{{post.content}}}
                        </h3>
                    {{/link-to}}
                    <p class="post-meta">Posted by <a href="#">{{post.author.firstName}} {{post.author.lastName}}</a> on {{post.createdAt}}</p>
                </div>
                <hr>
            {{/each}}
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>